@use 'sass:math'; /* stylelint-disable-line at-rule-no-unknown */

// media queries
@mixin devices($breakpoint) { //the name of the mixin is devices

  @if $breakpoint == tablet {

    @media only screen and (max-width: $screen-lg) {
      @content;
    }
  }

  @if $breakpoint == mobile {

    @media only screen and (max-width: $screen-sm) {
      @content;
    }
  }
}

// псевдоблок
@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

// css-треугольник
@mixin css-triangle(
  $color,
  $direction,
  $size: 6px,
  $position: absolute,
  $round: false
) {
  @include pseudo($pos: $position);
  width: 0;
  height: 0;
  @if $round {
    border-radius: 3px;
  }
  @if $direction == down {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
    margin-top: 0 - round(math.div($size, 2.5));
  } @else if $direction == up { /* stylelint-disable-line block-closing-brace-newline-after */
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
    margin-bottom: 0 - round(math.div($size, 2.5));
  } @else if $direction == right { /* stylelint-disable-line block-closing-brace-newline-after */
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    margin-right: -$size;
  } @else if $direction == left { /* stylelint-disable-line block-closing-brace-newline-after */
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    margin-left: -$size;
  }
}

// стилизация скролла эл-та
@mixin scroll-style($width: 7px, $scrollbar-color: #d1d1d1) {
  // стилизация скролла
  // Mozilla
  scrollbar-color: rgba(0, 0, 0, 0.4) $scrollbar-color;
  scrollbar-width: thin;
  // Webkit
  /* stylelint-disable-next-line */
  &::-webkit-scrollbar {
    width: $width;
    height: $width;
    background-color: $scrollbar-color;
    border-radius: 3px;
  }
  /* stylelint-disable-next-line */
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

// адаптивное видео (по умолчанию пропорции для видео с YouTube)
@mixin adaptive-video($proportion: 56.25%, $bg-color: #000) {
  position: relative;
  width: auto;
  height: 0;
  padding-bottom: $proportion;
  background-color: $bg-color;

  /* stylelint-disable */
  iframe,
  object,
  embed,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  /* stylelint-enable */
}

// фигурный фон блоков
@mixin polygonBackground($polygon, $color, $zIndex: -1, $position: relative) {
  position: $position;

  /* stylelint-disable-next-line */
  &::before {
    @include pseudo();
    z-index: $zIndex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    clip-path: $polygon;
  }
}

// примитивнная анимация на hover
@mixin hover($delay: 0.25s) {
  transition: opacity $delay ease-in;

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  &:hover {
    opacity: 0.65;
  }
}

@mixin hoverImg {
  @include hover();

  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  &:hover {
    overflow: hidden;

    /* stylelint-disable-next-line plugin/selector-bem-pattern */
    & img {
      /* stylelint-disable-line plugin/selector-bem-pattern */
      transform: scale(1.025);
      transition: transform 0.25s ease-in;
    }
  }
}
