-
  const FeaturesData = [
    {
      ico: '',
      img: '',
      title: 'Осуществление таск-менеджмента',
      features: [
        'Создавать задачи с привязкой к территориям и адресам',
        'Представление задач в виде «Списка» или «Карточек задач»',
        'Гибкая настройка алгоритма выполнения работ Исполнителями при постановке задачи',
        'Автоматический сбор отчетов по результатам выполнения задач',
        'Представление задач на Карте',
      ]
    }    {
      ico: '',
      img: '',
      title: 'Осуществление таск-менеджмента',
      features: [
        'Создавать задачи с привязкой к территориям и адресам',
        'Представление задач в виде «Списка» или «Карточек задач»',
        'Гибкая настройка алгоритма выполнения работ Исполнителями при постановке задачи',
        'Автоматический сбор отчетов по результатам выполнения задач',
        'Представление задач на Карте',
      ]
    },    {
      ico: '',
      img: '',
      title: 'Осуществление таск-менеджмента',
      features: [
        'Создавать задачи с привязкой к территориям и адресам',
        'Представление задач в виде «Списка» или «Карточек задач»',
        'Гибкая настройка алгоритма выполнения работ Исполнителями при постановке задачи',
        'Автоматический сбор отчетов по результатам выполнения задач',
        'Представление задач на Карте',
      ]
    },    {
      ico: '',
      img: '',
      title: 'Осуществление таск-менеджмента',
      features: [
        'Создавать задачи с привязкой к территориям и адресам',
        'Представление задач в виде «Списка» или «Карточек задач»',
        'Гибкая настройка алгоритма выполнения работ Исполнителями при постановке задачи',
        'Автоматический сбор отчетов по результатам выполнения задач',
        'Представление задач на Карте',
      ]
    },    {
      ico: '',
      img: '',
      title: 'Осуществление таск-менеджмента',
      features: [
        'Создавать задачи с привязкой к территориям и адресам',
        'Представление задач в виде «Списка» или «Карточек задач»',
        'Гибкая настройка алгоритма выполнения работ Исполнителями при постановке задачи',
        'Автоматический сбор отчетов по результатам выполнения задач',
        'Представление задач на Карте',
      ]
    }
  ]
