-
  const FeaturesData = [
    {
      ico: 'img/task_ico.svg',
      img: {
        xs: 'img/task_xs.png',
        md: 'img/task_md.png',
        lg: 'img/task_lg.png',
      },
      title: 'Постановка и\u00A0выполнение задач',
      features: [
        'Создавать групповые задачи любых типов',
        'Гибкая настройка алгоритма выполнения работ Исполнителями при постановке групповых задач',
        'Возможность автоматической постановки задач по\u00A0произвольным выборкам адресов, территорий, контрагентов',
        'Возможность автоматической постановки задач по\u00A0произвольным выборкам адресов, территорий, контрагентов',
        'Возможность автоматически ставить групповые задачи с\u00A0любым количеством Исполнителей',
        'Автоматический сбор отчетов по\u00A0результатам выполнения задач'
      ]
    },
    {
      ico: 'img/plan_ico.svg',
      img: {
        xs: 'img/plan_xs.png',
        md: 'img/plan_md.png',
        lg: 'img/plan_lg.png',
      },
      title: 'Планирование проектов и\u00A0работ',
      features: [
        'Осуществлять календарное планирование работ в\u00A0удобном таск-трекере',
      ]
    },
    {
      ico: 'img/control_ico.svg',
      img: {
        xs: 'img/control_xs.png',
        md: 'img/control_md.png',
        lg: 'img/control_lg.png',
      },
      title: 'Контроль задач',
      features: [
        'Контроль работы Исполнителей с\u00A0помощью геоточек, с\u00A0выводом на\u00A0Карту',
        'Автоматическая фиксация даты и\u00A0времени выполнения работ',
        'Фото отчеты',
      ]
    },
    {
      ico: 'img/passport_ico.svg',
      img: {
        xs: 'img/passport_xs.png',
        xs2: 'img/passport_xs_2.png',
        md: 'img/passport_01_md.png',
        md2: 'img/passport_02_md.png',
        lg: 'img/passport_01_lg.png',
        lg2: 'img/passport_01_lg.png',
      },
      title: 'Паспортизация территорий',
      features: [
        'Удобный функционал для описания территориальных объектов по различным параметрам, для целей мониторинга и\u00A0паспортизации территорий',
        'Возможность создавать геоточки с\u00A0привязкой к\u00A0Карте для последующей постановки задач Исполнителям для работы в\u00A0данных точках',
      ]
    }
  ]
