-
  const MainMenuData = {
    about: {
      name: 'О программе',
      link: '/'
    },
    policy: {
      name: 'Политика конфиденциальности',
              link: '/policy.html'
    },
    // termsOfUse: {
    //   name: 'Пользовательское соглашение',
    //   link: '/terms-of-use.html'
    // }
  }
