extends ../pug/layout.pug

block meta
  title= MainMenuData['policy'].name
  - let myPageTitle = MainMenuData['policy'].name;

block content
  section.policy
    h1.policy__title(lang='ru') Политика конфиденциальности

    .policy__text-wrapper
      h2.policy__header= `Политика конфиденциальности мобильного приложения «${appTitle}»`

      p.policy__text Настоящая Политика конфиденциальности для&nbsp;мобильного приложения (далее&nbsp;— Политика) действует в&nbsp;отношении той информации, которую Общество с&nbsp;ограниченной ответственностью «Социальные цифровые платформы» (ОГРН: 1217700181181; ИНН: 9731078217, адрес: 121205, г.&nbsp;Москва, Сколково инновационного центра территория, Большой бульвар, дом&nbsp;42 строение&nbsp;1, пом.&nbsp;1114) (далее&nbsp;— Компания) может получить с&nbsp;устройства пользователя во&nbsp;время использования им&nbsp;мобильного приложения «#[span= `${appTitle}`]» (далее&nbsp;— Приложение).

      p.policy__text Использование Приложения означает безоговорочное согласие пользователя с&nbsp;настоящей Политикой и&nbsp;указанными в&nbsp;ней условиями обработки информации, получаемой с&nbsp;устройства пользователя. В&nbsp;случае несогласия с&nbsp;Политикой пользователь должен воздержаться от&nbsp;использования Приложения.

      p.policy__text Приложение и&nbsp;услуги в&nbsp;рамках Приложения позволяют пользователю осуществлять взаимодействие с&nbsp;Компанией на&nbsp;основании заключенных договоров и&nbsp;соглашений с&nbsp;Компанией, которые в&nbsp;числе прочего регулируют все вопросы обработки и&nbsp;хранения Компанией персональных данных пользователя.

      p.policy__text Настоящая Политика применима только к&nbsp;Приложению. Компания не&nbsp;контролирует и&nbsp;не&nbsp;несет ответственность за&nbsp;информацию (последствия её&nbsp;передачи), переданную пользователем третьей стороне, в&nbsp;случае если такая передача была выполнена на&nbsp;ресурсе третьей стороны, на&nbsp;который пользователь мог перейти по&nbsp;ссылкам из&nbsp;Приложения.

      p.policy__text  Компания имеет право вносить изменения в&nbsp;настоящую Политику путем размещения новой редакции Политики на&nbsp;сайте Компании и/или в&nbsp;Приложении. Обязанность самостоятельного ознакомления с&nbsp;актуальной редакцией Политики лежит на&nbsp;пользователе.

      h3.policy__header2 1. Состав информации, которая может быть получена с&nbsp;устройства пользователя при&nbsp;использовании Приложения и&nbsp;цели её&nbsp;получения (далее&nbsp;— Информация пользователя):

      p.policy__text 1.1 Информация о&nbsp;местоположении устройства пользователя (на основе данных сети оператора сотовой связи и&nbsp;сигналов GPS) о&nbsp;номере телефона устройства, используется для&nbsp;информирования о&nbsp;дополнительных сервисах, доступных пользователю и&nbsp;обусловленных его местоположением.

      p.policy__text 1.2 Информация (включая, но&nbsp;не&nbsp;ограничиваясь, персональные данные), которую Пользователь самостоятельно предоставляет Компании при&nbsp;осуществлении действий, направленных на&nbsp;регистрацию Приложения (в т.ч. активация) либо в&nbsp;рамках его использования (в т.ч. создание учетной записи, обращение в&nbsp;службу поддержки). Информация предоставляется путем заполнения Пользователем соответствующих форм, при&nbsp;этом объем предоставления информации при&nbsp;заполнении необязательных полей указанных форм определяется Пользователем самостоятельно.

      p.policy__text 1.3 Фотоизображения, полученные с&nbsp;использованием камеры устройства, используются в&nbsp;рамках услуг, реализуемых в&nbsp;Приложении, а&nbsp;также использования в&nbsp;качестве подтверждающих документов.

      p.policy__text 1.4 Информация о&nbsp;мобильном устройстве, такая как&nbsp;модель мобильного устройства, версия операционной системы, уникальные идентификаторы устройства, а&nbsp;также данные о&nbsp;мобильной сети и&nbsp;номер мобильного телефона, используются для&nbsp;анализа возможных ошибок в&nbsp;работе Приложения и&nbsp;совершенствование работы Приложения.

      p.policy__text 1.5 Информация о&nbsp;совершаемых операциях, такая как&nbsp;место, время совершенных операций в&nbsp;Приложении, данные используемые в&nbsp;рамках сервисов, реализуемых в&nbsp;Приложении, в&nbsp;том числе для&nbsp;улучшения предоставляемых Компанией пользователю предложений.

      p.policy__text 1.6 Иная информация о&nbsp;Пользователе, которую получает Компания исключительно в&nbsp;указанных в&nbsp;разделе 3 настоящих Условий о&nbsp;конфиденциальности целях.

      h3.policy__header2 2. Условия обработки Информации пользователя

      p.policy__text 2.1 В&nbsp;соответствии с&nbsp;настоящей Политикой Компания осуществляет обработку только той информации и&nbsp;только для&nbsp;тех целей, которые определены в&nbsp;пункте 1.

      p.policy__text 2.2 Компания принимает все зависящие от&nbsp;Компании организационные и&nbsp;технические меры для&nbsp;защиты Информации пользователя от&nbsp;неправомерного доступа третьих лиц, использования, копирования и&nbsp;распространения.

      p.policy__text 2.3 Для&nbsp;целей, изложенных в&nbsp;настоящей Политике, Компания может привлекать к&nbsp;обработке Информации пользователя партнеров, с&nbsp;которыми у&nbsp;Компании заключены соответствующие соглашения о&nbsp;конфиденциальности. Передача Компанией партнерам обезличенных данных об&nbsp;использовании Приложения для&nbsp;целей улучшения работы Приложения осуществляется на&nbsp;основании договоров с&nbsp;партнерами.

      p.policy__text 2.4 Информация пользователя может сохраняться на&nbsp;ресурсах Компании и&nbsp;его партнеров в&nbsp;течение срока действия договорных отношений между&nbsp;Компанией и&nbsp;пользователем касаемо Приложения, а&nbsp;также в&nbsp;течение 5&nbsp;лет после расторжения таких договоров.

      p.policy__text 2.5 Информация Пользователя может быть предоставлена государственным органам в&nbsp;соответствии с&nbsp;требованиями действующего законодательства.

      h3.policy__header2 3. Цели сбора и&nbsp;обработки персональной информации пользователей Сбор, хранение и&nbsp;обработка указанной в&nbsp;разделе 1 настоящих Условий о&nbsp;конфиденциальности информации осуществляется исключительно в&nbsp;следующих конкретных целях:

      p.policy__text 3.1 Для&nbsp;идентификации Пользователя при&nbsp;использовании Приложения.

      p.policy__text 3.2 Для&nbsp;персонализации учета посещений (в том числе с&nbsp;целью предоставления персонализированных услуг Пользователю) и&nbsp;регистрации действий Пользователя использует Cookies.

      p.policy__text 3.3 Для&nbsp;осуществления взаимодействия с&nbsp;Пользователем в&nbsp;рамках заключенных с&nbsp;Компанией договоров или&nbsp;соглашений.

      p.policy__text 3.4 Для&nbsp;осуществления взаимодействия с&nbsp;Пользователем в&nbsp;рамках заключенных с&nbsp;ООО&nbsp;«Социальные цифровые платформы» договоров или&nbsp;соглашений.
