$main-color:          #2d76f9 ;
$warning-color:       #08d1d4;

$white-color:         #ffffff;

$gray-light:          #f2f2f2;
$gray-middle:         #222222;
$gray-dark:           #3B3B3B;

$text-color:          $gray-dark;

$transparent-color:   rgba(255, 255, 255, 0);

$font-family:         -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
$font-size:           16px;
$line-height:         1.4;

$screen-xs:           600px;
$screen-sm:           768px;
$screen-md:           1024 px;
$screen-lg:           1280px;
$screen-lg:           1920px;
